SLACK_BOT_TOKEN= # bot token starting with xoxb goes here
SLACK_APP_TOKEN= # xapp token goes here
HACKCLUBAI_TOKEN= # from here https://ai.hackclub.com/keys or from openrouter
HACKCLUBAI_URL= # should be https://ai.hackclub.com/proxy/v1 or the openrouter url


MESSAGE_TS= # this is gonna be the main message the bot is gonna edit to update the content. You can get it by sending a message in the channel and then clicking "Copy link" and taking the last part of the url. It should look something like 1774406666.929619
CHANNEL_ID= # this is the channel where the message_ts is 
OWNER_CHAT= # this is the chat id with the owner